@model Presupuestos//aqui pongo el objeto que mande el get

<h2>Detalle del Presupuesto @Model.IdPresupuesto</h2>
<p>Nombre Destinatario: @Model.NombreDestinatario</p>
<p>Fecha Creacion: @Model.FechaCreacion</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Descripcion Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalle in Model.Detalle)
        {
            <tr>
                <td hidden>@detalle.Producto.IdProducto</td>
                <td>@detalle.Producto.Descripcion</td>
                <td>@detalle.Producto.Precio</td>
                <td>@detalle.Cantidad</td>
            </tr>
        }
    </tbody>
</table>